.col
{
    display: inline-block;
    vertical-align: top;
}

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding: 0;
    height: 24px;
    color: #333;
    line-height: 24px;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    cursor: default;
}

circle.point {
    cursor: move;
}

text.label {
    cursor: default;
}

.btn.active
{
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: #eee;
    background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
    background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
    background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
    background-image: -o-linear-gradient(top,#eee,#e0e0e0);
    background-image: linear-gradient(top,#eee,#e0e0e0);
    border-color: #ccc;
}

.line_options 
{
    display: none;
}

.line_options.active {
    display: inline-block;
}

svg {

}

line.line.creating
{
    stroke-width:0.5px;
}

line.line 
{
    stroke:#000000;
    stroke-width:1.5px;
    stroke-linecap: "round";
}

line.clickable
{
    stop-opacity: 0.01;
    cursor: move;
    stroke: rgba(0, 0, 0, 0.01);
}

line.clickable.select
{
    stop-opacity: 1;
    stroke: rgba(59, 173, 255, 0.5);
}